<!DOCTYPE html>
<html>
  <head>
    <%- include ("./partials/_head"), {title}; %>
  </head>
  <body>
    <header><%- include ("./partials/_header"); %></header>
    <main>
      <h1 class="title">Categories</h1>
      <ul class="category-list">
        <% categories.forEach(function(category) { %>
        <li class="category">
          <p class="category-name"><%= category.name %></p>
          <p class="category-description"><%= category.description %></p>
        </li>
        <% });%>
      </ul>
    </main>
    <footer><%- include ("./partials/_footer"); %></footer>
  </body>
</html>
