<!DOCTYPE html>
<html>
  <head>
    <%- include ("./partials/_head"), {title}; %>
    <link rel="stylesheet" href="/stylesheets/categories.css" />
    <script defer src="/javascripts/categories.js"></script>
  </head>
  <body>
    <header><%- include ("./partials/_header"); %></header>
    <main>
      <div class="main-header">
        <h1 class="category-title">Categories</h1>
        <button id="new-category-button">New Category</button>
      </div>
      <ul class="category-list">
        <% categories.forEach(function(category) { %>
        <li class="category">
          <h2 class="category-name"><%= category.name %></h2>
          <p class="category-description"><%= category.description %></p>
        </li>
        <% });%>
      </ul>
    </main>
    <footer><%- include ("./partials/_footer"); %></footer>
    <!-- Modal -->
    <div class="overlay" style="display: none">
      <div id="new-category" class="modal">
        <h2>Create Category</h2>
        <form action="/categories" method="post">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
          <label for="description">Description:</label>
          <input type="text" id="description" name="description" />
          <input type="submit" value="Create Category" />
        </form>
      </div>
    </div>
    <!-- End Modal -->
  </body>
</html>
