<!DOCTYPE html>
<html>
  <head>
    <%- include ("./partials/_head"), {title}; %>
    <link rel="stylesheet" href="/stylesheets/games.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <script defer src="/javascripts/games.js"></script>
  </head>
  <body>
    <header><%- include ("./partials/_header"); %></header>
    <main>
      <div class="main-header">
        <h1 class="title"><%= title %></h1>
        <button id="new-game-button">New Game</button>
      </div>
      <ul class="game-list">
        <% games.forEach(function(game) { %>
        <li class="game">
          <h2 class="game-name"><%= game.name %></h2>
          <p class="game-category"><%= game.category.name %></p>
          <p class="game-description"><%= game.description %></p>
          <p class="game-price">£<%= game.price %></p>
          <p class="game-qty">Qty: <%= game.qty %></p>
          <div class="actions-container">
            <button class="edit-button">
              <i class="material-symbols-outlined">edit</i>
            </button>
            <button class="delete-button">
              <i class="material-symbols-outlined">delete</i>
            </button>
          </div>
        </li>
        <% });%>
      </ul>
    </main>
    <footer><%- include ("./partials/_footer"); %></footer>
    <!-- Modal -->
    <div class="overlay" style="display: none">
      <div id="new-game" class="modal">
        <h2>Create Game</h2>
        <form action="/games" method="post">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
          <label for="description">Description:</label>
          <input type="text" id="description" name="description" />
          <label for="price">Price:</label>
          <input type="number" id="price" name="price" required />
          <label for="qty">Qty:</label>
          <input type="number" id="qty" name="qty" required />
          <label for="category">Category:</label>
          <select id="category" name="category" required>
            <% categories.forEach(function(category) { %>
            <option value="<%= category._id %>"><%= category.name %></option>
            <% });%>
          </select>
          <input type="submit" value="Create Game" />
        </form>
      </div>
    </div>
    <!-- End Modal -->
  </body>
</html>
