<!DOCTYPE html>
<html>
  <head>
    <%- include ("./partials/_head"), {title}; %>
  </head>
  <body>
    <header><%- include ("./partials/_header"); %></header>
    <main>
      <div class="main-header">
        <h1 class="title">All Games</h1>
      </div>
      <ul class="game-list">
        <% games.forEach(function(game) { %>
        <li class="game">
          <h2 class="game-name"><%= game.name %></h2>
          <p class="game-category"><%= game.category.name %></p>
          <p class="game-description"><%= game.description %></p>
          <p class="game-price">£<%= game.price %></p>
          <p class="game-qty">Qty: <%= game.qty %></p>
        </li>
        <% });%>
      </ul>
    </main>
    <footer><%- include ("./partials/_footer"); %></footer>
  </body>
</html>
